/server
/node_modules
/src/logger/general.json
/src/logger/update.json
/src/logger/backup.json
/src/logger/facturacion.json
/src/session.json
/src/log/error.log
/src/upload/*
!/src/upload/
/update
/updater/backup
/updater/downloads
/updater/actualizaciones.log
/updater/pendiente.json
/dist
/actualizaciones
