name: CI Backend

on:
  push:
    branches:
      - main
      - "feature/**"
      - "fix/**"
      - "chore/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Usar Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependencias
        run: npm ci

      - name: Buildear solucion
        run: npm run build

      - name: Subir artefacto
        uses: actions/upload-artifact@v4
        with:
          name: backend-build
          path: out/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Descargar artefacto bacjend
        uses: actions/download-artifact@v4
        with:
          name: backend-build
          path: out

      - name: Verificar artefacto
        run: |
          ls -la
          ls -la our
